**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s = input('Enter a text: ')
print(len(s))
counter = 0
for i in s:
  counter += 1
print(counter)

Enter a text: hello
5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [14]:
s = input('Enter a text: ')
if len(s) < 2:
  print('Empty String')
else:
  print(s[:2])
  print(s[-2:])

Enter a text: w
Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [23]:
s = input('Enter a text: ')
if len(s) < 3:
  pass
elif s[-2:] == 'ly':
  s = s[:len(s)-2] + 'ing'
else:
  s = s[:len(s)-3] + 'ly'
print(s)

Enter a text: playing
playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [33]:
s = input('Enter a text: ')
print(f'e{s[1:len(s)-1]}e')
l = list(s)
l[0] = 'e'
l[-1] = 'e'
print(''.join(l))

Enter a text: abca
ebce
ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [43]:
s = input('Enter a text')
print(s.upper())
print(s.lower())

Enter a texthelLo
HELLO
hello

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [52]:
def rev(s):
  if len(s) % 4 == 0:
    print(s[::-1])
  else:
    print(s)
s = input('Enter a text')
rev(s)

Enter a texttext
txet

**10- Write a Python program to remove a newline in Python

In [62]:
s =('Enter \na text')
m=s.split('\n')
print(''.join(m))

Enter a text

**11-Write a Python program to check whether a string starts with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [4]:
s = input('Enter a text')
pre = 'm_'
print(pre+s)

Enter a textmohamed
m_mohamed

**13-Write a Python program to print the following numbers up to 2 decimal places

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [6]:
s = input('Enter a text: ')
print(s[::-1])
i = len(s)-1
while i >= 0:
  print(s[i], end='')
  i -=1

Enter a text: hello
olleh
olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

In [8]:
s = input('Enter a text: ')
l = s.split(' ')
print(''.join(l))

Enter a text:  hello mohamed
hellomohamed

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [10]:
l = []
for i in range(3):
  s = input('Enter a text: ')
  l.append(s)
l[0], l[-1] = l[-1], l[0]
print(l)

Enter a text: hello
Enter a text: welcome
Enter a text: mohamed
['mohamed', 'welcome', 'hello']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [11]:
l = [23, 65, 19, 90]
l[0], l[2] = l[2], l[0]
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [100]:
l = [23, 65, 19, 90]
print(max(l))

90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [101]:
l = [23, 65, 19, 90]
print(min(l))

19

**26-search for if an elem is existing in list

**27- clear python list using different ways

In [16]:
l = [23, 65, 19, 90]
l.clear()
print(l)
l2 = [23, 65, 19, 90]
for i in l2.copy():
  l2.remove(i)
print(l2)

[]
[]

**28-remove duplicated elements from a list

In [21]:
l = [23, 65, 19, 90, 23, 19]
s = set(l)
print(s)

{65, 90, 19, 23}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [20]:
l = [23, 65, 19, 90, 23, 19]
s = set(l)
print(len(s))

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [24]:
l1 = ['Gfg', 'is', 'best']
l2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
counter = 0
for i in l2:
  l2[counter] = l1[i]
  counter += 1
print(l2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [36]:
d1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for key, value in d1.items():
  print(key, value)

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [32]:
d1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(d1.values()))
print(min(d1.values()))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [39]:
l = []
for i in range(10):
  l.append(i)
t = tuple(l)
print(t[1])

1

**48-Write a Python program to unpack a tuple into several variables

In [41]:
a = 0
b = 0
t = (1, 2)
a, b = t
print(a, b)

1 2

**49-Write a Python program to add an item to a tuple

In [42]:
t = (1, 2)
l = list(t)
l.append(3)
t = tuple(l)
print(t)

(1, 2, 3)

**50-Write a Python program to convert a tuple to a string

In [45]:
t = ('m', 'o')
l = list(t)
print(''.join(l))

mo

**51-Write a Python program to convert a list to a tuple

In [46]:
l = []
for i in range(10):
  l.append(i)
t = tuple(l)
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

**52-Write a Python program to reverse a tuple

In [55]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
l = list(t)
l.reverse()
t = tuple(l)
print(t)

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [78]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l2 = []
l3 = []
counter = 0
while(counter < len(l)):
  l2.append(list(l[counter]))
  counter += 1
counter = 0
while(counter < len(l2)):
  l2[counter][-1] = 100
  counter += 1
counter = 0
while(counter < len(l2)):
  l3.append(tuple(l2[counter]))
  counter += 1
print(l3)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [82]:
s = 'python3.0'
l = list(s)
t = tuple(l)
print(t)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

**56-Write a Python program to add member(s) to a set.

In [87]:
s = {1, 2}
s.add(3)
print(s)

{1, 2, 3}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [98]:
s = {1, 2, 3, 5}
for i in s.copy():
  if i == 3:
    s.remove(i)
print(s)

{1, 2, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

**59-Write a Python program to find the maximum and minimum values in a set

In [99]:
s = {1, 2, 3, 5}
print(max(s))
print(min(s))

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.