### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [ ]:
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
print('The result is', (num1 + num2))

Enter first number: 3
Enter second number: 4
The result is 7.0

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
n = int(input('Enter a number: '))
print('Even' if n % 2 == 0 else 'Odd')

Enter a number: 4
Even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [ ]:
for i in range(1, 21):
  if i % 2 == 0:
    print(i)
  else:
    continue

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [ ]:
def vowel(s):
  counter = 0
  for i in s:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
      counter += 1
  return counter

In [ ]:
s = input('Enter a text: ')
print(vowel(s))

Enter a text: mohamed
3

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [ ]:
l = []
for i in range(1, 11):
  l.append(i)
for i in l:
  print(i ** 2)

1
4
9
16
25
36
49
64
81
100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [ ]:
studentName = input('Enter your name: ')
subjectName = []
score = []
for i in range(5):
  subjectName.append(input('Enter your subject name: '))
  score.append(float(input('Enter your score: ')))
sum = 0
for i in score:
  sum += i
avg = sum / len(subjectName)
if avg > 70:
  print('Congratulation')
else:
  print('try again')

Enter your name: mohamed
Enter your subject name: science
Enter your score: 20
Enter your subject name: arabic
Enter your score: 50
Enter your subject name: math
Enter your score: 40
Enter your subject name: english
Enter your score: 80
Enter your subject name: physics
Enter your score: 40
try again

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [ ]:
l1 = []
l2 = []
l3 = []
for i in range(5):
  l1.append(int(input('Enter a number for list 1: ')))
for i in range(5):
  l2.append(int(input('Enter a number for list 2: ')))
l2.sort()
first = 0
last = len(l2) - 1
for i in l1:
  while(first < last):
    mid = int((first + last) / 2)
    if i == l2[mid]:
      l2.append(i)
      break
    else:
      if i < l2[mid]:
        last = mid - 1
      else:
        first = mid + 1
print(l3)

Enter a number for list 1: 1
Enter a number for list 1: 2
Enter a number for list 1: 3
Enter a number for list 1: 4
Enter a number for list 1: 5
Enter a number for list 2: 6
Enter a number for list 2: 7
Enter a number for list 2: 8
Enter a number for list 2: 1
Enter a number for list 2: 2
[]

In [ ]:
list3

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [ ]:
def removeElement(l, element):
  l.remove(element)

In [ ]:
l = []
for i in range(6):
  l.append(int(input('Enter a number: ')))
removeElement(l, 5)
print(l)

Enter a number: 5
Enter a number: 2
Enter a number: 3
Enter a number: 7
Enter a number: 8
Enter a number: 6
[2, 3, 7, 8, 6]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = int(input('Enter third number: '))
d = int(input('Enter forth number: '))
mul = a * b * c * d
print(mul % 100)

Enter first number: 5
Enter second number: 7
Enter third number: 2
Enter forth number: 4
80

### 10- Given a number X. Determine if the number is prime or not

In [ ]:
n = int(input('Enter a number: '))
prime = True
if(n == 0 or n == 1):print('Not prime')
else:
  for i in range(2, int(n/2) + 1):
    if n % i == 0:
      prime = False
      print('Not prime')
      break
if prime == True:print('Prime')

Enter a number: 5
Prime

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [ ]:
n = int(input('Enter a number: '))
a = []
flag = False
for i in range(n):
  a.append(int(input('Enter a number: ')))
x = int(input('Enter the number that you want to search: '))
for i in a:
  if i == x:
    print(a.index(i))
    break
  else:
    if(i == a[len(a) - 1]):
      print('Not found')

Enter a number: 3
Enter a number: 4
Enter a number: 6
Enter a number: 7
Enter the number that you want to search: 4
0

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [ ]:
n = int(input('Enter a number: '))
a = []
for i in range(n):
  a.append(int(input('Enter a number: ')))
minVar = min(a)
counter = 0
for i in a:
  if i == minVar:
    counter += 1
if counter % 2 != 0:
  print('Lucky array')
else:
  print('Not a luky array')

Enter a number: 3
Enter a number: 1
Enter a number: 1
Enter a number: 2
Not a luky array

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [ ]:
n = int(input('Enter a number: '))
a = []
for i in range(n):
  a.append(int(input('Enter a number: ')))
minNum = min(a)
maxNum = max(a)
print(minNum)
print(maxNum)
minIndex = a.index(minNum)
maxIndex = a.index(maxNum)
print(a)
a[minIndex], a[maxIndex] = a[maxIndex], a[minIndex]
print(a)

Enter a number: 3
Enter a number: 4
Enter a number: 7
Enter a number: 2
2
7
[4, 7, 2]
[4, 2, 7]

In [ ]:
maximum

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [ ]:
n = int(input('Enter a number: '))
a = []
for i in range(n):
  a.append(int(input('Enter a number: ')))
print(min(a))
print(a.index(min(a)))

Enter a number: 3
Enter a number: 2
Enter a number: 3
Enter a number: 1
1
2

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [ ]:
n = int(input('Enter a number: '))
a = []
for i in range(n):
  a.append(int(input('Enter a number: ')))
a.sort()
print(a)

Enter a number: 3
Enter a number: 5
Enter a number: 2
Enter a number: 9
[2, 5, 9]

### 16- Write a Python program to remove spaces from a given string

In [ ]:
s = input('Enter a number: ')
print(s.strip())

Enter a number:        mohamed
mohamed

### 17-write a Python program to swap first and last element of any list.

In [ ]:
n = int(input('Enter a number: '))
a = []
for i in range(n):
  a.append(int(input('Enter a number: ')))
print(a)
a[0], a[len(a) - 1] = a[len(a) - 1], a[0]
print(a)

Enter a number: 5
Enter a number: 6
Enter a number: 2
Enter a number: 4
Enter a number: 6
Enter a number: 2
[6, 2, 4, 6, 2]
[2, 2, 4, 6, 6]

### 18- Write a Python program to add member(s) to a set.

In [ ]:
s = {'hello', 'mohamed'}
t = input('Enter a text: ')
s.add(t)
print(s)

Enter a text: welcome
{'hello', 'welcome', 'mohamed'}

### 19-Write a Python program to remove an item from a set if it is present in the set

In [ ]:
s = {'hello', 'mohamed', 'welcome'}
t = input('Enter the element you want to remove: ')
if t in s:
  s.remove(t)
else:print('The element that you want to search not found')
print(s)

Enter the element you want to remove: welcome
{'hello', 'mohamed'}

### 20-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d = {'0':5, '1':1, '2':2}
l = list(d.values())
print(max(l))
print(min(l))

5
1

### 21-Write a Python program to drop empty items from a given dictionary.Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
for key, val in d.copy().items():
  if val is None:
    del d[key]
print(d)

{'c1': 'Red', 'c2': 'Green'}