# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [ ]:
street = input('Enter your street: ')
city = input('Enter your city: ')
country = input('Enter your country: ')
address = street + '\n' + city + '\n' + country
print(address)
print(f'street: {street}\ncity: {city}\ncountry: {country}')

Enter your street: street
Enter your city: city
Enter your country: country
street
city
country
street: street
city: city
country: country

In [ ]:
var = 'Earth revolves around the sun'
print(var[6:14])
print(var[-3:])

revolves
sun

In [ ]:
x = int(input('Enter the number of vegetables that you eat: '))
y = int(input('Enter the number of fruits that you eat: '))
print(f'I eat {x} vegetables2 and {y} fruits daily')

Enter the number of vegetables that you eat: 15
Enter the number of fruits that you eat: 20
I eat 15 vegetables and 20 fruits daily

In [ ]:
s='maine 200 banana khaye'
print(s.replace('200 banana', '10 samosa'))

maine 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [14]:
expenses = [2200, 2350, 2600, 2130, 2190]
print(f'Extra dollars that spent in Feb compare to Jan is: {expenses[1] - expenses[0]}')
print(f'total expense in first quarter of the year is: {expenses[0] + expenses[1] + expenses[2]}')
i = 1
flag = False
while i <= len(expenses) - 1:
  if expenses[i] == 2000:
    flag = True
  i += 1
if flag == True:
    print('You spend exactly 2000')
else:
    print('your spent is not exactly 2000')
expenses.append(1980)
print(expenses)
print(expenses[3] - 200)

Extra dollars that spent in Feb compare to Jan is: 150
total expense in first quarter of the year is: 7150
your spent is not exactly 2000
[2200, 2350, 2600, 2130, 2190, 1980]
1930

In [73]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('black panther')
print(heros)
heros.pop()
heros.insert(3, 'black panther')
print(heros)
print(dir(list))
newHeros=heros
newHeros[1:3] = ['doctor strange']
print(heros)
heros.sort()
print(heros)
i = 1

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [56]:

#upper part
# to make columns
i = 1
while i<=5:
  j = 1
  #to make space
  while j <= 6-i:
    print(' ', end='')
    j += 1
  #to make stars
  k = 1
  while k <= i*2-1:
    print('*', end='')
    k+=1
  print('\n')
  i+=1

#lower part
# to make columns
i = 4
while i>=1:
  j = 1
  #to make space
  while j <= 6-i:
    print(' ', end='')
    j += 1
  #to make stars
  k = 1
  while k <= i*2-1:
    print('*', end='')
    k+=1
  print('\n')
  i-=1

     *

    ***

   *****

  *******

 *********

  *******

   *****

    ***

     *